
html {
  background: linear-gradient(
    to top left,
    deepSkyBlue,
    aquaMarine

    );
  background-repeat:no-repeat;
  min-height: 100%;

}
body {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
}
#app {
  margin-top: 10px ;
}
h1 {
  text-align: center;
  color: #1A0700;
}
